{#  _reporter_app/templates/index.template_ #}
{% extends "layout.template" %}
{% block title %}WikiToLearn Reports index{% endblock %}
{% block container %}

<div class="list-group col-md-12">
    {% for rep in reports %}
        <a href={{rep["id"]}} class="list-group-item">{{rep["title"]}} - From {{rep["start_date"].date()}} to {{rep["end_date"].date()}}</a>
    {% endfor %}
</div>


{% endblock %}
