.help-block{
  color: red
}

.icon-texla:before {
  content: "\e900";
}

.border-right{
    border-right: 1px solid black;
}

/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>i-texla {
  height: 100%;
  padding: 15px;
  width: auto;
}

@font-face {
    font-family: 'texla';
    src:    url('../fonts/texla.eot?lluuwh');
    src:    url('../fonts/texla.eot?lluuwh#iefix') format('embedded-opentype'),
        url('../fonts/texla.ttf?lluuwh') format('truetype'),
        url('../fonts/texla.woff?lluuwh') format('woff'),
        url('../fonts/texla.svg?lluuwh#texla') format('svg');
    font-weight: normal;
    font-style: normal;
}

i-texla {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'texla' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
